---
layout: default
---

<div class="home">
	{%- if page.intro_header -%}
	<h3 class="post-link">
		{{ page.intro_header | escape }}
	</h3>
	{%- endif -%} {{ content }}
	<!-- You can connect with me on&nbsp; -->
	<!-- {%- include about_social.html -%}  -->
	<br />
</div>

<div class="post">
	<h1 class="post-title-custom">{{ page.projects_title | escape }}</h1>
	{%- if site.posts.size > 0 -%}
	<ul class="post-list">
		{%- for post in site.posts -%}
		<li>
			{%- assign date_format = site.minima.date_format | default: "%b %-d,
			%Y" -%}
			<span class="post-meta">{{ post.date | date: date_format }}</span>
			<h3>
				<a class="post-link" href="{{ post.url | relative_url }}">
					{{ post.title | escape }}
				</a>
			</h3>
			{%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
			<br />
			{%- if post.tags -%} {%- assign tagged_post = post -%} {%- include
			post_tags.html -%} {%- endif -%}
		</li>
		{%- endfor -%}
	</ul>
	{%- endif -%}
</div>

{%- if page.include_skills -%}
<h1 class="post-title-custom">{{ page.skills_title | escape }}</h1>
<div class="skills">
	{% for skill in page.skills %}
	<code class="language-plaintext highlighter-rouge">{{ skill }}</code>
	{% endfor %}
</div>
{%- endif -%}
